<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<connectionStrings>
    <!--<add name="Db" connectionString="Server=tcp:172.18.2.182,1433;Database=PowerConsumption;User ID=sa;Password=!Locks123;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>-->
    <add name="db" connectionString="Server=.;Database=AppCacheExample;Integrated Security=true;Connection Timeout=15;"/>
  </connectionStrings>
</configuration>
